@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Special Elite", monospace;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background: #2a2a2a;
}

a {
  display: block;
  text-decoration: none;
}

header {
  width: 100%;
  height: 45px;
  position: fixed;
  top: 0;
  z-index: 9999;
  background-color: rgba(17, 17, 17, 0.8);
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}

.nav-list-desktop .nav-item .f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  height: 24px;
  width: 80px;
  background: white;
  color: #121212;
  border: 2px solid #121212;
  font-weight: bold;
  border-radius: 10px;
  text-transform: uppercase;
}

.header-contaner {
  padding: 6px 30px;
  max-width: 860px;
  margin: 0 auto;
}

.nav-list-desktop {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-logo {
  position: relative;
  -webkit-transition: 5s ease;
  transition: 5s ease;
  -webkit-animation: mymove 1s ease;
          animation: mymove 1s ease;
}

@-webkit-keyframes mymove {
  from {
    position: relative;
    top: -70px;
  }
  to {
    position: relative;
    top: 0px;
  }
}

@keyframes mymove {
  from {
    position: relative;
    top: -70px;
  }
  to {
    position: relative;
    top: 0px;
  }
}

.a {
  position: relative;
  -webkit-transition: 2s ease;
  transition: 2s ease;
  -webkit-animation: moves 2s ease;
          animation: moves 2s ease;
}

@-webkit-keyframes moves {
  from {
    position: relative;
    top: -70px;
  }
  to {
    position: relative;
    top: 0px;
  }
}

@keyframes moves {
  from {
    position: relative;
    top: -70px;
  }
  to {
    position: relative;
    top: 0px;
  }
}

.b {
  position: relative;
  -webkit-transition: 2s ease-in;
  transition: 2s ease-in;
  -webkit-animation: movie 2.5s ease-in;
          animation: movie 2.5s ease-in;
}

@-webkit-keyframes movie {
  from {
    position: relative;
    top: -70px;
  }
  to {
    position: relative;
    top: 0px;
  }
}

@keyframes movie {
  from {
    position: relative;
    top: -70px;
  }
  to {
    position: relative;
    top: 0px;
  }
}

.c {
  position: relative;
  -webkit-transition: 2s ease-in;
  transition: 2s ease-in;
  -webkit-animation: moves 3s ease-in;
          animation: moves 3s ease-in;
}

@keyframes moves {
  from {
    position: relative;
    top: -70px;
  }
  to {
    position: relative;
    top: 0px;
  }
}

.d {
  position: relative;
  -webkit-transition: 2s ease-in;
  transition: 2s ease-in;
  -webkit-animation: moves 3.5s ease-in;
          animation: moves 3.5s ease-in;
}

@keyframes moves {
  from {
    position: relative;
    top: -70px;
  }
  to {
    position: relative;
    top: 0px;
  }
}

.e {
  position: relative;
  -webkit-transition: 2s ease-in;
  transition: 2s ease-in;
  -webkit-animation: moves 4s ease-in;
          animation: moves 4s ease-in;
}

@keyframes moves {
  from {
    position: relative;
    top: -70px;
  }
  to {
    position: relative;
    top: 0px;
  }
}

.f {
  position: relative;
  -webkit-transition: 2s ease-in;
  transition: 2s ease-in;
  -webkit-animation: moves 4.5s ease-in;
          animation: moves 4.5s ease-in;
}

@keyframes moves {
  from {
    position: relative;
    top: -70px;
    opacity: 0;
  }
  to {
    position: relative;
    top: 0px;
  }
}

.nav-link {
  margin-top: -22px;
  display: block;
  color: white;
  font-size: 17px;
  opacity: 1;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.nav-link:hover {
  opacity: 0.7;
}

.nav-mobile {
  list-style: none;
  display: none;
}

/* Perguntas Frequentes */
body#pesquisa-pag {
  background: #fff;
}

#perguntas-frquentes {
  text-align: center;
  font-weight: bold;
  background: black;
  width: 620px;
  margin: 80px auto;
  color: white;
  -webkit-box-shadow: 1px 5px 6px black;
          box-shadow: 1px 5px 6px black;
  border-radius: 7px;
}

.perguntas {
  text-align: center;
  font-weight: bold;
  color: black;
  width: 620px;
  padding: 10px;
  background: whitesmoke;
  border-radius: 7px 7px 0 0;
}

.perguntas-conteudo {
  padding: 10px 10px;
}

summary::-webkit-details-marker {
  display: none;
}

summary:after {
  background: black;
  content: "+";
  color: #fff;
  float: right;
  font-weight: bold;
  text-align: center;
  width: 20px;
  margin-right: 10px;
}

details[open] summary:after {
  content: "-";
}

details {
  margin-top: 10px;
  border-radius: 10px;
  background: #121212;
  padding: 10px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  color: white;
  bottom: 0;
  background: #2a2a2a;
  width: 100%;
  height: 50px;
}

/* página novidades */
#novidades {
  margin-top: 40px;
  position: relative;
  background: black;
  width: 100%;
  height: 300px;
  color: white;
}

/* página Animes*/
body#anime {
  display: inline;
}

#conteudo-top {
  width: 100%;
  height: 700px;
  background: #121212 url("../img/tim-mossholder-tq8Cuap8_wY-unsplash.jpg");
  background-size: cover;
  background-attachment: center;
}

.scroll-animation .mouse {
  color: white;
  cursor: pointer;
  left: 50%;
  position: absolute;
  display: block;
  bottom: 90px;
  width: 35px;
  height: 55px;
  border: 3px solid white;
  border-radius: 23px;
}

.scroll-animation .mouse div.mouse-wheel {
  color: white;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 4px;
  height: 7px;
  margin: -6px 0 0 -2px;
  background: white;
  border-radius: 150px;
  -webkit-animation: mouse 2s linear infinite;
          animation: mouse 2s linear infinite;
}

@-webkit-keyframes mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  20% {
    opacity: 1;
    top: 50%;
  }
  60% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

@keyframes mouse {
  0% {
    opacity: 1;
    top: 29%;
  }
  20% {
    opacity: 1;
    top: 50%;
  }
  60% {
    opacity: 0;
    top: 50%;
  }
  100% {
    opacity: 0;
    top: 29%;
  }
}

#conteudo-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* máquina de escrever */
.line {
  position: absolute;
  top: 45%;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  color: rgba(255, 255, 255, 0.75);
  font-family: "Special Elite", monospace;
  font-size: 6em;
  text-align: center;
  margin: 0 auto;
  white-space: nowrap;
  overflow: hidden;
}

.typing-animation {
  -webkit-animation: typing 4s steps(20) 4s normal;
          animation: typing 4s steps(20) 4s normal;
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 6em;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 6em;
  }
}

#conteudo-animes {
  width: 100%;
  height: 100vh;
  background: #2a2a2a;
}

.aaa {
  background: black;
  color: white;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0px auto;
}

.aaa h3 {
  position: relative;
  font-size: 30px;
}

.aaa p {
  margin-bottom: 150px;
}

footer.footer-anime {
  background: black;
}

/* página Music */
#music {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
  margin-bottom: 80px;
  color: white;
  width: 80%;
  height: 500px;
  background: black;
}

.scroll-y {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  overflow-y: scroll;
}

.scroll-y h1 {
  width: 100%;
  text-align: center;
  color: white;
}

.scroll-y h3 {
  text-transform: uppercase;
  padding: 20px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  width: 80%;
  height: 40px;
  background: #4b0c0c;
}

.red {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 90px;
  width: 50%;
  height: 40px;
  background: #3c0d0d;
}

.lol {
  width: 80%;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 80px 20px;
  margin-top: 60px;
}

iframe {
  margin: 4px;
  border: 1px solid #3c0d0d;
}

footer.footer-music {
  background: black;
}

@media (max-width: 1600px) {
  .itens-mobile {
    display: none;
  }
  .red {
    width: 80%;
  }
  aside {
    padding-bottom: 20px;
  }
  .line {
    position: absolute;
    top: 35%;
  }
}

@media (max-width: 1100px) {
  .scroll-animation {
    display: none;
  }
  iframe {
    width: 100%;
  }
}

@media (max-width: 720px) {
  .header-contaner {
    padding: 5px 0px;
  }
  .nav-list-desktop {
    display: none;
  }
  .nav-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hamburguer {
    width: 25px;
    height: 25px;
    position: relative;
  }
  .hamburguer:after {
    content: "";
    position: absolute;
    top: 38%;
    left: 23%;
    width: 55%;
    height: 4%;
    background-color: #d6d6d6;
    -webkit-transition: 1s ease;
    transition: 1s ease;
  }
  .hamburguer:before {
    content: "";
    position: absolute;
    top: 63%;
    left: 23%;
    width: 55%;
    height: 4%;
    background-color: #d6d6d6;
    -webkit-transition: 1s ease;
    transition: 1s ease;
  }
  .hamburguer.hamburguer-active {
    width: 25px;
    height: 25px;
    position: relative;
  }
  .hamburguer.hamburguer-active:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 23%;
    width: 55%;
    height: 4%;
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
    background-color: #d6d6d6;
  }
  .hamburguer.hamburguer-active:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 23%;
    -webkit-transform: rotate(-405deg);
    transform: rotate(-405deg);
    width: 55%;
    height: 4%;
    background-color: #d6d6d6;
  }
  .itens-mobile {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: -1100%;
    z-index: -999;
    opacity: 0.5;
    background-color: black;
    list-style: none;
    width: 100%;
    height: 0;
    padding: 30px 30px;
    -webkit-transition: 1s ease;
    transition: 1s ease;
  }
  .itens-mobile.active {
    top: 0;
    height: 100vh;
    opacity: 1;
  }
  .nav-item-mobile {
    width: 100%;
    margin: 5px 0px;
  }
  .links {
    width: 100%;
    border-top: 2px solid #3333;
    padding-top: 8px;
    color: white;
    display: block;
    font-size: 13px;
    opacity: 1;
    -webkit-transition: 0.7s ease;
    transition: 0.7s ease;
  }
  .links:hover {
    opacity: 0.7;
  }
  #perguntas-frquentes {
    width: 300px;
  }
  .perguntas {
    width: 300px;
  }
  .scroll-y h1 {
    width: 100%;
    font-size: 18px;
    text-align: center;
    color: white;
  }
  .red {
    margin-top: 60px;
    height: 64px;
  }
  iframe {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 90px;
  }
  .line {
    position: absolute;
    top: 30%;
    font-size: 3rem;
  }
  footer {
    font-size: 13px;
  }
  #conteudo-animes img {
    width: 200px;
  }
}
/*# sourceMappingURL=style.css.map */